@import url(Banner.css);


.home{
  padding: 10px;
    margin-bottom: 90px;
    background-color: #F2F2F2;
    border-radius: 5px;

   
}

.hm-title{
text-align: center;
margin-top: 30px;
color:cadetblue;
text-shadow: 0 1px 0 #b8b4b4;
border-bottom: 1px solid #f4f4f4;
}


/****** Banner image ******/

/****** END Banner image ******/