*{
   user-select: none;
}
.background {
    background-image: url('../../assets/images/Logos/AliteNegro540x540.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center; 
    margin-left: 15px;

 }


.container-sm {
    text-align: center;
}
.id-Stock {
    text-align: center;
    color: rgb(42, 110, 165);
}
.id-Img {
   text-align: center;;
    justify-content: space-around;
    width: 20%;
    height: 200px;
    padding: 20px 0;
    margin: 0px;
    margin-bottom: 10px;
}
.id-Img:hover {
    border: 2px solid #2a6ea5;
   
}

#id-Img {
    transition: transform 0.5s ease-in-out;
    text-align: center;;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}
#id-Img:hover { transform: scale(1.04) }

.item-detail-container {
    margin-top: 130px;
    position : absolute;

}
.item-detail-container img {
   max-height: 500px;
   max-width: 70%;
   margin-Bottom: 20px;
   padding-bottom: 25px;

}
.box-detail{

        margin: 70px auto;
        border: 1px solid lightslategray;
        border-radius: 15px;
        max-width: 600px !important;
        justify-content: center;
        text-align: center;
        background-color: white;
        padding: 50px;
    }
.blank{
    background-color: white;
}
.carrousel-box {
    margin: auto;

    justify-content: 'center';
    text-align:'center';
}
div.detail-logo  {
    margin-top:7px;
   display: flex;
   
   
}
