.itemlistcontainer{
    margin-top: 90px;
    margin-bottom: 70px;
}
.category-title h3{
    margin-top: 90px;
    margin: auto;
    text-align: center;
}
.category {
    margin-top: 90px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 15px;
    user-select: "none";
}